server {
    listen 80;
    server_name REPLACE_WITH_DOMAIN;

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/certbot;
        default_type text/plain;
        try_files $uri =404;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    http2 on;
    server_name REPLACE_WITH_DOMAIN;

    access_log /var/log/openresty/REPLACE_WITH_DOMAIN.access.log structured_json buffer=256k flush=1s;
    error_log  /var/log/openresty/REPLACE_WITH_DOMAIN.error.log warn;

    client_max_body_size 50m;

    ssl_certificate     /etc/letsencrypt/live/REPLACE_WITH_DOMAIN/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/REPLACE_WITH_DOMAIN/privkey.pem;
    include /etc/nginx/snippets/ssl-common.conf;
    include /etc/nginx/snippets/security-headers.conf;

    location / {
        limit_req zone=per_ip_api burst=40 nodelay;
        include /etc/nginx/snippets/proxy-common.conf;
        proxy_pass http://api_backend;
    }
}
